* {
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url(image/bg03.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
    overflow-y: auto;
}

.background-gallery {
    width: 100%;
    height: 750px;
    background-image: url(image/bg02.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow-y: auto;
}

.background-contact {
    width: 100%;
    height: 100%;
    background-image: url(image/bg04.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow-y: auto;
}

.background-aboutme {
    width: 100%;
    height: 100%;
    background-image: url(image/bg07.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow-y: auto;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}

.nav {
    width: 350px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0%;
}

.nav a {
    text-decoration: none;
    font-size: 28px;
    font-family: verdana;
    font-weight: bold;
    /* width: 100%; */
    height: 90px;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.61);
    color: rgb(255, 255, 255);
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}

.a, .nav a:hover {
    background-color: rgba(255, 255, 255, 0.815);
    color: black;
    width: 100%;
}

.a, .b, .c, .d {
    width: 75%;
}

.content {
    position: absolute;
    width: 930px;
    min-height: 200px;
    height: auto;
    right: 0;
    top: 5%;
}

.home {
    top: 300px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: rgb(255, 255, 255);
    font-family: verdana;
    text-transform: uppercase;
    
}

.home h1 {
    font-size: 90px;
    padding-right: 90px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.788);
    text-transform: uppercase;
}

.home h3 {
    font-size: 30px;
    padding: 5px 0;
    opacity: 0.7;
}

.aboutme {
    position: absolute;
    left: 0;
    top: 30px;
    color: rgb(255, 255, 255);
    font-family: century gothic;
    padding: 0 30px;
}

.aboutme p {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 10px;
}

.gallery {
    position: absolute;
    right: 0;
    top: 10px;
    color: aliceblue;
    padding: 0 30px;
    
}

.gallery .image {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
}

.image img {
    width: 200px;
    transition: all ease 0.5s;
    -webkit-transform: all ease 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.image img:hover {
    transform: scale(1.0);
    -webkit-transform: scale(1.2);
}

.contactme {
    position: absolute;
    right: 0;
    top: 10px;
    color: aliceblue;
    padding: 0 60px;
    
}

.inputtext {
    width: 55%;
    height: 65px;
    border-radius: 15px;
    border: 3px solid rgb(49, 49, 49);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    padding: 0 10px;
    float: left;
    margin-top: 15px;
}

.inputmassage {
    width: 55%;
    height: 100px;
    border-radius: 15px;
    border: 3px solid rgb(61, 61, 61);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    padding: 0 10px;
    float: left;
    margin-top: 15px;
}

.submit {
    width: 100px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.836);
    color: black;
    font-size: 20px;
    border-radius: 15px;
    font-weight: bold;
    float: left;
    clear: both;
    margin-top: 15px;
}

.gender {
    width: 230px;
    height: 30px;
    font-size: 20px;
    font-family: verdana;
    color: black;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 5px;
    border: 1px solid rgba(161, 158, 158, 0.459);
}

.list {
    width: 25px;
    height: 25px;
}
